/* Perform a reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset */

html {
	height: 100%;
	min-height: 100%;
}

body {
	min-height: 100%;
	min-width: 450px;
}

	a, h1, h2, h3, h4, h5, p, span {
		font-family: 'Raleway', sans-serif;
	}

	.splash {
		text-align: center;
		padding-top: 25%;
		/*padding-left: 45%;*/
		background-size: cover;
		z-index: 2000;
		/*position: absolute;*/
		overflow: hidden;
	}

		div.splash div.ball {
			height: 30px;
			width: 30px;
			background: black;
			border-radius: 30px;
			display: inline-block;
		}

		div.splash .letters {
			padding-bottom: 20px;
		}

		div.splash .letter {
			font-size: 2em;
			display: inline-block;
		}

		div.splash .letter1 {
			-webkit-animation: bounce1 .5s;
			-moz-animation: bounce1 .5s;
			-webkit-animation-iteration-count: infinite;
		}

		div.splash .letter2 {
			-webkit-animation: bounce2 .5s;
			-webkit-animation-iteration-count: infinite;
		}

		div.splash .letter3 {
			-webkit-animation: bounce3 .5s;
			-webkit-animation-iteration-count: infinite;
		}

	main {
		background: url("../img/home.png") no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

		#jump-top-wrapper {
			position: fixed;
			right: 35px;
			bottom: 35px;
			z-index: 1;
			/*border: 2px solid white;*/
			/*background: rgba(0, 0, 0, 0.2);*/
			/*border-radius: 10px;*/
			display: none;
			/*background: rgba(136, 136, 136, 0);*/
			/*-webkit-transition: background 0.5s;*/
			/*transition: background 0.5s;*/
			/*-webkit-transition: opacity 1s;*/
			/*transition: opacity 1s;*/
		}

			#jump-top-wrapper img {
				height: 80px;
				width: 80px;
				opacity: 0.35;
				-webkit-transition: opacity 1s;
				transition: opacity 1s;
			}

			#jump-top-wrapper img:hover {
				opacity: 0.8;
			}

			/*#jump-top {
				margin: 28px auto 20px auto;
				width: 0;
				height: 0;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-bottom: 20px solid white;
				border-radius: 6px;
			}*/

		nav {
			position: fixed;
			color: black;
			width: 100%;
			min-width: 450px;
			font-size: 1.1em;
			height: 40px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			background: rgba(204, 209, 215, 1);
			border-bottom: 1px solid #A3A7AC;
			z-index: 10000;
			-webkit-box-shadow: 3px 3px 20px 0 rgba(0,0,0,0.15);
			-moz-box-shadow: 3px 3px 20px 0 rgba(0,0,0,0.15);
			box-shadow: 3px 3px 20px 0 rgba(0,0,0,0.15);
		}

			nav a.selected, nav a:hover {
				text-decoration: underline;
				color: black
			}

			nav a.selected::before {

			}

			nav a {
				text-decoration: none;
				color: black;
			}

			nav span.spacer {
				padding: 0 5px 0 5px;
			}

			.page-title-banner {
				padding-top: 45px;
				width: 100%;
				text-align: center;
			}

			.page-title-banner .content-header {
				background: rgba(255, 255, 255, .6);
				/*background: rgba(0, 0, 0, .5);*/
				/*color: white;*/
				padding: 5px 0 5px 0;
				-webkit-box-shadow: 3px 3px 20px 0 rgba(0,0,0,0.2);
				-moz-box-shadow: 3px 3px 20px 0 rgba(0,0,0,0.2);
				box-shadow: 3px 3px 20px 0 rgba(0,0,0,0.2);
			}

			/*.page-title-banner .content-header:before {
				content: ""
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-left: 20px solid gray;
				border-radius: 6px;
			}*/

			.page-title-banner .content-header::after {

			}

			.page-wrapper {
				padding: 30px 70px 70px 70px;
			}

			.background-wrapper {
				/*width: 60%;*/
				margin: auto;
			}

			.center-text {
				text-align: center;
			}

			#home-page {
				padding-top: 35px;
			}

				.home-title {
					/*height: 60%;
					width: 50%;
					margin-top: 10%;
					margin-left: auto;
					margin-right: auto;*/
				}

				.home-title-wrapper {
					/*display: inline-flex;*/
					background-color: rgba(0, 0, 0, 0.6);
					border-radius: 8px;
					width: 50%;
					/*height: 300px;*/
					-webkit-box-shadow: 3px 3px 50px 0 rgba(0,0,0,0.75);
					-moz-box-shadow: 3px 3px 50px 0 rgba(0,0,0,0.75);
					box-shadow: 3px 3px 50px 0 rgba(0,0,0,0.75);
					margin-left: auto;
					margin-right: auto;
					margin-top: 15%;
				}

					.home-text {
						/*padding-top: 100px;*/
						font-family: 'Raleway', sans-serif;
						padding: 50px 10px;
						color: white;
						text-align: center;
						margin: auto;
						width: 100%;
						display: inline-block;
					}

					.home-title a:hover {
						text-decoration: none;
						color: white;
					}

						.home-text span:first-child {
							font-size: 1em;
						}

						.home-text span:last-child {
							padding-top: 50px;
							font-size: .4em;
						}

					.scroll-prompt img {
						position: absolute;
						width: 48px;
						height: 48px;
						opacity: .75;
						bottom: 30px;
						left: 50%;
						margin-left: -24px;
						-webkit-transition: opacity .5s;
						transition: opacity .5s;
					}

					.scroll-prompt img:hover {
						/*opacity: 0.75;*/
						animation: bounce 650ms ease-out;
						-moz-animation: bounce 650ms ease-out;
						-o-animation: bounce 650ms ease-out;
						-webkit-animation: bounce 650ms ease-out;
					}

			#about-page{

			}

				.me {
					width: 45%;
					border-radius: 5px;
					-webkit-box-shadow: 3px 3px 50px 0 rgba(0,0,0,0.75);
					-moz-box-shadow: 3px 3px 50px 0 rgba(0,0,0,0.75);
					box-shadow: 3px 3px 50px 0 rgba(0,0,0,0.75);
				}

				.caption {
					padding-top: 50px;
					width: 70%;
					margin: auto;
				}

				/*.content {
					font-size: 1.2em;
					color: #333333;
				}*/

				.list-title {
					text-decoration: underline;
				}

				h3.content-header {
					/*font-size: 1.7em;*/
					font-family: 'Raleway', sans-serif;
					color: #333333;
				}

				h4.content-subheader {
					/*font-size: 1.3em;*/
					font-family: 'Raleway', sans-serif;
					color: #333333;
				}

				.content, .content-small {
					font-size: 1.1em;
					color: #333333;
				}

				.pad-up {
					margin-top: -20px;
				}

				.hor-split-bottom {
					padding-top: 60px;
				}

				.list-wrapper {
				}

					.list-wrapper li p::before {
						content: "➢ ";
					}

			.background-wrapper, #contact footer {
				-webkit-box-shadow: inset 25px 0 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0 25px -25px rgba(0, 0, 0, 0.45);
				-moz-box-shadow: inset 25px 0 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0 25px -25px rgba(0, 0, 0, 0.45);
				box-shadow: inset 25px 0 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0 25px -25px rgba(0, 0, 0, 0.45);
			}

			/*#work-page .background-wrapper {
				background-color: rgba(255, 217, 146, 0.85);
			}*/

				.float-left {
					float: left;
				}

				.float-right {
					float: right;
				}

				.job-entry {
					padding-top: 50px;
					padding-bottom: 50px;
				}

				.page-wrapper .job-entry:first-child {
					padding-top: 40px;
				}

				.page-wrapper .job-entry:last-child {
					padding-bottom: 0;
				}

				.job-company::after {
					padding-bottom: 10px;
				}

				.company-image {
					width: 100%;
					border-radius: 5px;
					-webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
					-moz-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
					box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
				}

			/*#projects-page .background-wrapper {
				background-color: rgba(214, 209, 249, 0.85);
			}

			#about-page .background-wrapper, #education-page .background-wrapper, #photography-page .background-wrapper {
				background-color: rgba(255, 255, 255, 0.85);
			}*/

			.background-wrapper {
				background-color: rgba(255, 255, 255, 0.85);
				border-bottom: 1px solid #adadad;
				position: relative;
			}

				.cropped-image .image {
					width: 100%;
					overflow: hidden;
					border-radius: 3px;
					-webkit-box-shadow: 3px 3px 50px 0px rgba(0,0,0,0.75);
					-moz-box-shadow: 3px 3px 50px 0px rgba(0,0,0,0.75);
					box-shadow: 3px 3px 50px 0px rgba(0,0,0,0.75);
				}

				.image-wrapper {
					padding: 10px 10px 0 10px;
				}

				.cropped-image {
					position: relative;
					display: inline-block;
					text-align: center;
					/*padding-bottom: 30px;*/
				}

					.text-overlay {
						position: absolute;
						color: white;
						background: rgba(0, 0, 0, .55);
						font-size: 1.5em;
						border-radius: 3px;
						z-index: 100;
						top: 15px;
						left: 15px;
						padding: 5px;
					}

					.button-overlay img {
						position: absolute;
						bottom: 20%;
						right: 30px;
					}

					.expand-button,
					.collapse-button {
						height: 50%;
						max-height: 50px;
						z-index: 100;
						opacity: 0.5;
						-webkit-transition: opacity 1s;
					}

					.expand-button:hover,
					.collapse-button:hover {
						opacity: 0.8;
						cursor: pointer;
					}

					.collapsed .expand-button {
						height: 50px;
						bottom: 20px;
						right: 30px;
					}

					.eog-button {
						display: none;
						margin-top: 20px;
					}

					/*.expanded img {
						height: 80%;
						max-height: 50px;
						bottom: 0;
						right: 10px;
					}*/
					 .ease-trans {
					 	-webkit-transition: all 0.5s ease;
						-moz-transition: all 0.5s ease;
						-o-transition: all 0.5s ease;
						transition: all 0.5s ease;
					 }

						.gallery-view {
							padding-bottom: 40px;
						}

						.hidden-gallery-view {
							display: none;
						}

							.hidden-gallery-view div:last-child {
								padding-bottom: 25px;
							}

						.gallery-image-wrapper  {
							padding: 20px 45px 0 45px;
						}

						.gallery-image {
							border-radius: 2px;
							-webkit-box-shadow: 3px 3px 50px 0px rgba(0,0,0,0.75);
							-moz-box-shadow: 3px 3px 50px 0px rgba(0,0,0,0.75);
							box-shadow: 3px 3px 50px 0px rgba(0,0,0,0.75);
						}

						.portrait-image {
							width: 40%;
							margin-left: 30%;
							/*margin: auto;*/
						}

						.landscape-image {
							width: 100%;
						}

			#contact {
				/*width: 60%;*/
				margin: auto;
			}

				#contact footer {
					color: white;
					background: rgba(44, 44, 44, 0.9);
					padding: 20px 0 15px 0;
				}

					.footer-text {
						height: 35px;
						font-size: 13px;
						padding-top: 20px;
					}

					.icons {
						text-align: center;
					}

					.icon-list {
						/*padding-top: 30px;*/
						margin-right: 5px;
						width: 55px;
						-webkit-filter: grayscale(100%);
						/*-moz-filter: grayscale(100%);*/
						/*filter: grayscale(100%);*/
						-webkit-transition: -webkit-filter 1s;
						/*-moz-transition: -moz-filter 1s;*/
						/*transition: filter 1s;*/
					}

					.icon-list:hover {
						-webkit-filter: grayscale(0%);
						cursor: pointer;
						animation: subtlebounce 400ms ease-in;
						-moz-animation: subtlebounce 400ms ease-in;
						-o-animation: subtlebounce 400ms ease-in;
						-webkit-animation: subtlebounce 400ms ease-in;
						/*-moz-filter: grayscale(0%);*/
						/*filter: grayscale(0%);*/
					}

					.icons .icon-list:last-child {
						padding-right: 0;
					}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0%);
	}
	20% {
		-webkit-transform: translateY(-8%);
	}
	40% {
		-webkit-transform: translateY(8%);
	}
	60% {
		-webkit-transform: translateY(-8%);
	}
	80% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

@-moz-keyframes bounce {
	0% {
		-moz-transform: translateY(0%);
	}
	20% {
		-moz-transform: translateY(-8%);
	}
	40% {
		-moz-transform: translateY(8%);
	}
	60% {
		-moz-transform: translateY(-8%);
	}
	80% {
		-moz-transform: translateY(8%);
	}
	100% {
		-moz-transform: translateY(0%);
	}
}

@-o-keyframes bounce {
	0% {
		-o-transform: translateY(0%);
	}
	20% {
		-o-transform: translateY(-8%);
	}
	40% {
		-o-transform: translateY(8%);
	}
	60% {
		-o-transform: translateY(-8%);
	}
	80% {
		-o-transform: translateY(8%);
	}
	100% {
		-o-transform: translateY(0%);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0%);
	}
	20% {
		transform: translateY(-8%);
	}
	40% {
		transform: translateY(8%);
	}
	60% {
		transform: translateY(-8%);
	}
	80% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes subtlebounce {
	0% {
		-webkit-transform: translateY(0%);
	}
	20% {
		-webkit-transform: translateY(-5%);
	}
	40% {
		-webkit-transform: translateY(5%);
	}
	60% {
		-webkit-transform: translateY(0%);
	}
	70% {
		-webkit-transform: translateY(-3%);
	}
	80% {
		-webkit-transform: translateY(0%);
	}
	90% {
		-webkit-transform: translateY(3%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

@-moz-keyframes subtlebounce {
	0% {
		-moz-transform: translateY(0%);
	}
	20% {
		-moz-transform: translateY(-5%);
	}
	40% {
		-moz-transform: translateY(5%);
	}
	60% {
		-moz-transform: translateY(0%);
	}
	70% {
		-moz-transform: translateY(-3%);
	}
	80% {
		-moz-transform: translateY(0%);
	}
	90% {
		-moz-transform: translateY(3%);
	}
	100% {
		-moz-transform: translateY(0%);
	}
}

@-o-keyframes subtlebounce {
	0% {
		-o-transform: translateY(0%);
	}
	20% {
		-o-transform: translateY(-5%);
	}
	40% {
		-o-transform: translateY(5%);
	}
	60% {
		-o-transform: translateY(0%);
	}
	70% {
		-o-transform: translateY(-3%);
	}
	80% {
		-o-transform: translateY(0%);
	}
	90% {
		-o-transform: translateY(3%);
	}
	100% {
		-o-transform: translateY(0%);
	}
}

@keyframes subtlebounce {
	0% {
		transform: translateY(0%);
	}
	20% {
		transform: translateY(-5%);
	}
	40% {
		transform: translateY(5%);
	}
	60% {
		transform: translateY(0%);
	}
	70% {
		transform: translateY(-3%);
	}
	80% {
		transform: translateY(0%);
	}
	90% {
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes bounce1 {
	0% {
		-webkit-transform: translateY(0%);
	}
	33% {
		-webkit-transform: translateY(-15%);
	}
	66% {
		-webkit-transform: translateY(0%);
	}
	100% {
		-webkit-transform: translateY(15%);
	}
}

@-webkit-keyframes bounce2 {
	0% {
		-webkit-transform: translateY(-15%);
	}
	33% {
		-webkit-transform: translateY(0%);
	}
	66% {
		-webkit-transform: translateY(15%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

@-webkit-keyframes bounce3 {
	0% {
		-webkit-transform: translateY(15%);
	}
	33% {
		-webkit-transform: translateY(0%);
	}
	66% {
		-webkit-transform: translateY(-15%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}